body{
  font-family: arial;
  background: #001e4a;
  color: white;
  text-align: center;
  
}
.welcome{
  color: #56f921;
  font-size: 27px;
  
}
.top span{
  
  color:yellow;
}
.info{
  border: 2px solid red;
  padding: 20px;
}
b{color:red;}
img{
  width: 100%;
}